// Navigation code here

.border {
    background-color: @nav-bg;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Russo One';
    margin: 0 auto;
    padding-bottom: 3%;
    font-size: 3.2rem;

}

a {
    text-decoration: none;
    color: @main-font-color;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6rem;
    // border: 1px dashed #990000;
}